<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title"><%= @user.name %></h3>
      <h4 class="card-title">年齢：<%= @user.age %></h4>
    </div>
    <div class="card-body">
      <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 200 }) %>" alt="">
    </div>
  </div>
  
  <ul class="nav nav-tabs nav-justified mb-3">
    <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(@user) %>">My Post <span class="badge badge-secondary"><%= @count_posts %></span></a></li>
    <li class="nav-item"><a href="<%= favorite_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(favorite_user_path(@user)) %>">Favorite <span class="badge badge-secondary"><%= @count_favo %></span></a></li>
  </ul>
  
  <%= render 'posts/posts', posts: @posts %>
</div>