<div class="make-img">
  <img src="assets/make_img.jpg" alt="メイク道具の画像" style="width: 100%;">
</div>

<div class="container">
  <ul class="nav nav-tabs nav-justified mb-3">
    <li class="nav-item"><a href="<%= root_path %>" class="nav-link <%= 'active' if current_page?(root_path) %>">All</a></li>
    <li class="nav-item"><a href="<%= skin_path %>" class="nav-link <%= 'active' if current_page?(skin_path) %>">Skincare</a></li>
    <li class="nav-item"><a href="<%= make_path %>" class="nav-link <%= 'active' if current_page?(make_path) %>">Make</a></li>
    <li class="nav-item"><a href="<%= hair_path %>" class="nav-link <%= 'active' if current_page?(hair_path) %>">Hair</a></li>
    <li class="nav-item"><a href="<%= others_path %>" class="nav-link <%= 'active' if current_page?(others_path) %>">Others</a></li>
  </ul>

  <div class="row">
    <div class="col-sm-3 mb-3">
      <%= form_with(url: hair_path, method: :get, local: true) do |f| %>
        <div class="form-group">
          <%= f.label :age, '年齢' %>
          <%= f.select :age, options_for_select({"10代": "-19", "20代前半": "20-24", "20代後半": "25-29", "30代前半": "30-34", "30代後半": "35-39", "40代以上": "40-"}, params[:age]), include_blank: "選択してください" %>
        </div>
        <div class="form-group">
          <%= f.text_field :keyword, class: "form-control", value: params[:keyword], placeholder: "フリーワード" %>
        </div>
        <%= button_tag :type => "submit", :class =>"btn btn-outline-dark btn-s-md" do %>
          <i class="fa fa-search"></i>検索
        <% end %>
      <% end %>
      <%= link_to "悩みから投稿を検索", search_from_trouble_posts_path %>
    </div>
    <div class="col-sm-9">
      <%= render 'posts/posts', posts: @hair_posts %>
    </div>
  </div>
</div>