<div class="container mt-3">
  <% if params[:trouble].present? %>
    <%= link_to "すべての投稿", search_from_trouble_posts_path, class: "btn btn-outline-primary trouble-button" %>
  <% else %>
    <%= link_to "すべての投稿", search_from_trouble_posts_path, class: "btn btn-primary trouble-button" %>
  <% end %>
  
  <% @troubles.each do |trouble| %>
    <div class="trouble-button">
      <%= form_with(url: search_from_trouble_posts_path, method: :get, local: true) do |f| %>
        <%= hidden_field_tag :trouble, trouble.id %>
        <% if trouble.id == params[:trouble].to_i %>
          <%= f.submit trouble.word, class: 'btn btn-success trouble-button' %>
        <% else %>
          <%= f.submit trouble.word, class: 'btn btn-outline-success trouble-button' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <%= render 'posts/posts', posts: @posts %>
</div>