<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <%= link_to "MensGrooming", root_path, class: "navbar-brand" %>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-bar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav-bar">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="navbar-item"><%= link_to "マイページ", current_user, class: "nav-link" %></li>
          <li class="navbar-item"><%= link_to "投稿する", new_post_path, class: "nav-link" %></li>
          <li class="dropdown-divider"></li>
          <li class="navbar-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: "nav-link" %></li>
        <% else %>
          <li class="navbar-item"><%= link_to "ログイン", login_path, class: "nav-link" %></li>
          <li class="navbar-item"><%= link_to "サインアップ", signup_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>